<% include ../partials/header %>

<p> Hi this is a 500 page. Something is wrong on our end. Please try again later.</p>
<p> Or go back to the <a href="/actors">home page</a> and start again.</p>

<% include ../partials/footer %>